.Contact {
  display: flex;
  width: 100%;
  padding: 4px;
  font-size: 14px;
  margin: 10px;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255, 0.089);
  border-radius: 3px;
}
.Contact:hover {
  background: rgba(128, 128, 128, 0.164);
}
.Contact:active {
  background: rgba(255, 255, 255, 0.164);
}
.Contact__number {
  width: 4%;
}
.Contact__name {
  width: 26%;
}
.Contact__phone {
  width: 31%;
}
.Contact__email {
  width: 39%;
}
.activeContact {
  color: black;
  background: rgb(140, 192, 240);
}
.activeContact:hover {
  background: rgb(140, 192, 240);
}
