.InfoLine {
  color: black;
}
.InfoLine__title {
  font-weight: bold;
}

.InfoLine__title_main {
  font-size: 20px;
}

.InfoLine__input {
  margin: 10px;
  border: 1px solid black;
  padding: 4px;
  border-radius: 4px;
  background: rgb(243, 245, 245);
  background: linear-gradient(
    90deg,
    rgba(243, 245, 245, 0.178) 0%,
    rgba(168, 177, 175, 0.13) 36%,
    rgba(75, 85, 78, 0.137) 100%
  );
  width: 95%;
  font-size: 16px;
  border: 1px solid rgba(255, 255, 255, 0.664);
}

.empty {
  color: rgba(255, 255, 255, 0.315);
}
